apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: krgeobuk-dev

resources:
- ../../base

patches:
- path: patch-deployment.yaml

configMapGenerator:
- name: auth-server-config
  behavior: merge
  literals:
  - NODE_ENV=development
  - MYSQL_DATABASE=auth_dev
  - CORS_ORIGINS=http://localhost:3000,http://localhost:3200,http://localhost:3210,http://auth-client:3000
  - ALLOWED_REDIRECT_DOMAINS=localhost,localhost:3000,localhost:3200,localhost:3210,auth-client
  - AUTH_CLIENT_URL=http://auth-client:3000
  - PORTAL_CLIENT_URL=http://portal-client:3200
  - GOOGLE_REDIRECT_URL=http://localhost:8000/api/oauth/login-google/callback
  - NAVER_REDIRECT_URL=http://localhost:8000/api/oauth/login-naver/callback
  - JWT_COOKIE_DOMAIN=.localhost
  - EMAIL_VERIFICATION_BASE_URL=http://localhost:3000

commonLabels:
  environment: development
