apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: krgeobuk-dev

resources:
  - ../../base

patches:
  - path: patch-deployment.yaml

configMapGenerator:
  - name: auth-server-config
    behavior: merge
    literals:
      - NODE_ENV=development
      - MYSQL_DATABASE=auth_dev
      - MYSQL_USER=dev_user
      - CORS_ORIGINS=http://auth.192.168.0.28.nip.io,http://portal.192.168.0.28.nip.io,http://portal-admin.192.168.0.28.nip.io,http://mypick.192.168.0.28.nip.io,http://mypick-admin.192.168.0.28.nip.io
      - ALLOWED_REDIRECT_DOMAINS=192.168.0.28.nip.io,auth.192.168.0.28.nip.io,portal.192.168.0.28.nip.io,portal-admin.192.168.0.28.nip.io,mypick.192.168.0.28.nip.io,mypick-admin.192.168.0.28.nip.io
      - AUTH_CLIENT_URL=http://auth.192.168.0.28.nip.io
      - PORTAL_CLIENT_URL=http://portal.192.168.0.28.nip.io
      - GOOGLE_REDIRECT_URL=http://api.192.168.0.28.nip.io/auth/auth/oauth/login-google/callback
      - NAVER_REDIRECT_URL=http://api.192.168.0.28.nip.io/auth/auth/oauth/login-naver/callback
      - JWT_COOKIE_DOMAIN=.192.168.0.28.nip.io
      - EMAIL_VERIFICATION_BASE_URL=http://auth.192.168.0.28.nip.io
      - AUTH_SERVER_URL=http://api.192.168.0.28.nip.io/auth

commonLabels:
  environment: development
