apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: krgeobuk-prod

resources:
- ../../base

patches:
- path: patch-deployment.yaml

configMapGenerator:
- name: authz-server-config
  behavior: merge
  literals:
  - NODE_ENV=production
  - MYSQL_DATABASE=authz_prod
  - CORS_ORIGINS=https://auth.krgeobuk.com,https://portal.krgeobuk.com,https://admin.krgeobuk.com
  - LOG_LEVEL=info
  - PERMISSION_CACHE_TTL=600

commonLabels:
  environment: production
