apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: krgeobuk-dev

resources:
- ../../base

patches:
- path: patch-deployment.yaml

configMapGenerator:
- name: portal-client-config
  behavior: merge
  literals:
  - NODE_ENV=development
  - NEXT_PUBLIC_ENVIRONMENT=development
  - NEXT_PUBLIC_AUTH_SERVER_URL=http://auth-server/api
  - NEXT_PUBLIC_AUTHZ_SERVER_URL=http://authz-server/api
  - NEXT_PUBLIC_PORTAL_SERVER_URL=http://portal-server/api
  - NEXT_PUBLIC_TOKEN_REFRESH_URL=http://auth-server/api/auth/refresh
  - NEXT_PUBLIC_PORTAL_CLIENT_URL=http://localhost:3200
  - NEXT_PUBLIC_DEBUG=true
  - NEXT_PUBLIC_LOG_LEVEL=debug

commonLabels:
  environment: development
