apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: krgeobuk-dev

resources:
- ../../base

patches:
- path: patch-deployment.yaml

configMapGenerator:
- name: authz-server-config
  behavior: merge
  literals:
  - NODE_ENV=development
  - MYSQL_DATABASE=authz_dev
  - CORS_ORIGINS=http://localhost:3000,http://localhost:3200,http://localhost:3210,http://localhost:3300,http://localhost:3310,http://auth-client,http://portal-client
  - LOG_LEVEL=debug
  - PERMISSION_CACHE_TTL=300

commonLabels:
  environment: development
