apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: krgeobuk-dev

resources:
- ../../base

patches:
- path: patch-deployment.yaml

configMapGenerator:
- name: my-pick-server-config
  behavior: merge
  literals:
  - LOG_LEVEL=debug
  - NODE_ENV=development

commonLabels:
  environment: development
