apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: krgeobuk-dev

resources:
- ../../base

patches:
- path: patch-deployment.yaml

configMapGenerator:
- name: auth-client-config
  behavior: merge
  literals:
  - NODE_ENV=development
  - NEXT_PUBLIC_ENVIRONMENT=development
  - NEXT_PUBLIC_AUTH_SERVER_URL=http://auth-server/api
  - NEXT_PUBLIC_DOMAIN=localhost
  - NEXT_PUBLIC_APP_URL=http://localhost:3000
  - NEXT_PUBLIC_PORTAL_CLIENT_URL=http://localhost:3200
  - NEXT_PUBLIC_PORTAL_ADMIN_URL=http://localhost:3210

commonLabels:
  environment: development
