apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: krgeobuk-dev

resources:
- namespace.yaml
- ../../base
# Phase 1 Services
- ../../applications/auth-server/overlays/dev
- ../../applications/auth-client/overlays/dev
- ../../applications/authz-server/overlays/dev
- ../../applications/portal-client/overlays/dev
# Phase 2 Services
- ../../applications/portal-server/overlays/dev
- ../../applications/my-pick-server/overlays/dev
- ../../applications/my-pick-client/overlays/dev
- ../../applications/portal-admin-client/overlays/dev
- ../../applications/my-pick-admin-client/overlays/dev
# Ingress
- ingress.yaml

labels:
- pairs:
    environment: development
